<% layout("/layouts/boilerplate") -%>
     <!-- <h1>Jai Bajrang Bali...</h1> -->
     <div class="row mt-3">
          <div class="col-8 offset-2"><br><br>
               <h3>Create a new listing</h3>
               <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                         <label for="title" class="form-label">Title</label>
                         <input type="text" name="listing[title]" placeholder="add a catchy title" class="form-control"
                              required>
                         <div class="valid-feedback">Title looks good!</div>
                    </div>
                    <div>
                         <label for="description" class="form-label">Description</label>
                         <textarea type="text" name="listing[description]" class="form-control" required></textarea>
                         <div class="invalid-feedback">Please write description on this place</div>
                    </div>
                    <div class="mb-3 mt-3">
                         <label for="image" class="form-label">Upload Listing Image</label>
                         <input type="file" name="listing[image]" placeholder="enter image URL/Link"
                              class="form-control" required>
                    </div>
                    <div class="row">
                         <div class="mb-3 col-md-4">
                              <label for="price" class="form-label">Price</label>
                              <input name="listing[price]" placeholder="1200" class="form-control" required>
                              <div class="invalid-feedback">Please enter valid price</div>
                         </div>
                         <div class="mb-3 col-md-8">
                              <label for="country" class="form-label">Country</label>
                              <input type="text" name="listing[country]" placeholder="India" class="form-control"
                                   required>
                              <div class="invalid-feedback">Please enter the country name</div>
                         </div>
                    </div>
                    <div class="row">
                         <div class="mb-3 col-md-4">
                              <label for="location" class="form-label">Location</label>
                              <input type="text" name="listing[location]" placeholder="Bhiwani, Haryana"
                                   class="form-control" required>
                              <div class="invalid-feedback">Please enter your location</div>
                         </div>
                         <div class="mb-3 col-md-8">
                              <label for="category" class="form-label">Category</label>
                              <select name="listing[category]" id="filter-category" class="form-control" required>
                                   <% (categories || []).forEach(function(cat) { %>
                                        <option value="<%= cat %>">
                                             <%= cat %>
                                        </option>
                                        <% }) %>
                              </select>
                         </div>

                    </div>
                    <button class="btn btn-dark add-btn mt-3">Add</button><br><br>
               </form>
          </div>
     </div>