<style>
     .search-btn {
          background-color: #fe424d;
          color: #fff;
          border-radius: 25px;
          padding: 0rem 1rem 0rem 1rem;
     }

     .search-btn:hover {
          background-color: #fe424d;
          color: #fff;
     }

     .search-btn i {
          display: inline;
          margin-right: 0.5rem;
     }

     .search-inp {
          border-radius: 25px;
          padding: 0.5rem 3rem;
     }

     /* Container */
     .toggle-container {
          display: flex;
          background: #dceee5;
          /* Light greenish background */
          border-radius: 30px;
          width: 150px;
          height: 35px;
          /* margin-top: 5px; */
          justify-content: space-between;
          align-items: center;
          position: relative;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          overflow: hidden;
          border: none;
          outline: none;
     }


     /* Anchor Buttons */
     .toggle-link {
          flex: 1;
          text-align: center;
          padding: 12px 0;
          /* Adjusted padding */
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
          border-radius: 30px;
          color: black;
          text-decoration: none;
          position: relative;
          z-index: 2;
          transition: color 0.3s ease-in-out;
     }

     /* Moving Green Background */
     .toggle-slider {
          position: absolute;
          top: 0;
          left: 0;
          /* Removed extra left space */
          width: 50%;
          height: 100%;
          background-color: #009e5f90;
          /* Green */
          border-radius: 30px;
          transition: all 0.3s ease-in-out;
          z-index: 1;
     }

     /* Active Link Color Change */
     .toggle-link.active {
          color: white;
     }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
     <div class="container-fluid">
          <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass" aria-hidden="true"></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
               <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
               <div class="navbar-nav">
                    <a class="nav-link" href="/listings">Explore</a>
               </div>
               <div class="navbar-nav ms-auto">
                    <form class="d-flex" action="/listings" method="GET">
                         <input class="form-control me-2 search-inp"  name="q" placeholder="Search destinations" value="<%= typeof search !== 'undefined' ? search : '' %>"/>
                         <button class="btn search-btn" type="submit"><i
                                   class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
               </div>
               <div class="navbar-nav ms-auto">
                    <a class="nav-link" href="/listings/new">Become a host</a>
                    <% if(!currUser) { %>
                         <div class="toggle-container">
                              <a href="/signup" class=" nav-link toggle-link "
                                   onclick="toggleTab(event, 0)"><b>Signup</b></a>
                              <a href="/login" class=" nav-link toggle-link" onclick="toggleTab(event, 1)"><b>Log
                                        in</b></a>
                              <div class="toggle-slider"></div>
                         </div>
                         <% } %>
                              <% if(currUser) { %>
                                   <a class="nav-link nav-action" href="/listings/favorites">
                                        <i class="fa-solid fa-heart"></i> Favorites
                                   </a>
                                   <a class="nav-link nav-action" href="/profile">
                                        <i class="fa-regular fa-user"></i> Profile
                                   </a>
                                   <a class="nav-link nav-action" href="/logout"> <b>Log out</b></a>
                                   <% } %>
               </div>
          </div>
     </div>
</nav>
